RewriteRule ^evento$ evento.php [L]
RewriteRule ^comissao$ comissao.php [L]
RewriteRule ^local$ local.php [L]
RewriteRule ^programacao$ programacao.php [L]
RewriteRule ^palestrantes$ palestrantes.php [L]
RewriteRule ^patrocinadores$ patrocinadores.php [L]
RewriteRule ^contato$ contato.php [L]
RewriteRule ^inscricoes$ inscricoes.php [L]